.pantryContainer {
   /* background-image: url('../../assets/Photos/birme/basil-delicious-food-459469.jpg');*/
    width: 100%;
    opacity: 1;
}

.toast-rounded {
    border-radius: 24px;
    background-color: #26a69a;
    font-weight: bold
}